.form-input {
  input {
    position: relative;
  }
  i {
    position: absolute;
    left: 10px;
    top: 36%;
    z-index: 99;
    color: $primary;
  }
  &-right i {
    left: 92%;
    top: 21px;
  }
}
